.quiz-result {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 32px;
  margin-right: 32px;
  font-family: BahijMitra;
  font-size: 22px;
  text-align: center;
  color: #616161;
  a {
    color: var(--color-primary);
  }
}