.card-category {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Futura_BookBoldRegular,sans-serif;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4rem;
  margin-bottom: 10px;
  margin-top: 0;
  a: {
    color: var(--color-title);
    letter-spacing: .5px;
  }
}
.author-name {
  color: var(--color-title-socondary);
}